#main {
	width: 100%;
	height: 100vh;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
#video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
	
}
.maintextbox { 
width: 100%; 
color: #fff; 
padding: 1rem; 
font-family: Avenir, Helvetica, sans-serif; 
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 20;
}
.maintextbox h2 { 
font-size: 2.5rem; 
font-weight: 700; 
margin-bottom: 0; 
margin-top: 0; 
line-height: 1.2;
text-align: center;
font-family: adler;
animation: fadein 9s;
-moz-animation: fadein 9s; /* Firefox */
-webkit-animation: fadein 9s; /* Safari and Chrome */
-o-animation: fadein 9s; /* Opera */
border-bottom: 1px solid gray;
 }
.maintextbox p { 
display: block; 
color: #fff; 
text-decoration: none; 
transition: .6s background; 
border-bottom: none; 
margin: 1rem auto; 
text-align: center; 
animation: fadein 17s;
-moz-animation: fadein 17s; /* Firefox */
-webkit-animation: fadein 17s; /* Safari and Chrome */
-o-animation: fadein 17s; /* Opera */
}
#video-buttons {
animation: fadein 17s;
-moz-animation: fadein 17s; /* Firefox */
-webkit-animation: fadein 17s; /* Safari and Chrome */
-o-animation: fadein 17s; /* Opera */	
text-align: center;
}
#video-buttons .button {
color: white;
background: none;
	padding: 20px;
	text-decoration: none;	
}



@media only screen and (min-width: 992px) {
	.vid-info { 
	width: 33%; 
	}
	
	.vid-info h1 { 
	font-size: 4rem;
	}
	.maintextbox { 
width: 50% !important;
	}
}
@media only screen and (max-width: 700px) {
	
}