#navbar img {
	float: left;
	
}
#navbar p {
	font-family: adler;	
	color: white;
	display: inline-block;
	text-align:center;
	float-left;	
	
}
body {
	margin: -0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#navbar {
	width: 100%;
	height: auto;
	position: fixed;
	background-color: black;
	opacity: 0.9;
	z-index: 10;
}

#navbar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}

#navbar ul li {
	float: right;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
	
}

#navbar ul li a   {
	text-decoration: none;
	color: white;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
}
#navbar ul a li  {
	text-decoration: none;
	color: white;
	display: block;
	font-family: Tahoma, Geneva, sans-serif;
}
#navbar ul a li:hover {
	background-color: #4d0066;
}

#navbar ul li a:hover {
	background-color: #4d0066;
}

#navbar li ul li{
	display: block;
	float: none;
}
#navbar li ul{
	display: none;
	background-color: #1a1a1a;
}
#photodrop:hover .hidden{
	display:block;	
}

.menu {
	float: right;
}


#sidebar {
	position: fixed;	
	margin-top: 61px;
	width: 200px;
	height: 100%;
	background: black;
	opacity: 1;
	left: -200px;
	transition: all 500ms linear;
}
#sidebar.active {
	left:0px;
	
}
#sidebar ul li {
	color:white;
	list-style: none;
	padding: 15p 10px;
	border-bottom: 1px: soild rgba(100,100,100,0.3);
	
}

.mainmenuicon{
	padding: 20px 0;	
	display: block;
	cursor: pointer;
	width: 30px;
	float: left;
	box-sizing: border-box;
	background-color: none;
}

.mainmenuicon span{
	margin: 1px 1px 3px 10px;
	display: block;
	height: 4px;
	width: 30px;
	background-color: white;
}

.social-bar {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   opacity: 0.9;
   position: sticky;
   top: 0;
   height: 5vh;
   float: left;
}

#social-icons {
	float: left;
	height: 100%;
	width: 80%;
	
	
}
#social-icons img {
	float: left;
	padding-left: 20px;
}

#social-icons :hover {	
	opacity: 0.5;
}
#themes {
	margin-left: auto;
margin-right: auto;
height: auto;
width: 30%;
}
#themes p {
		color: white;	
			
		}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
}
@media only screen and (min-width: 992px) {
	.menu{
		display: block;
		
	}
	.mainmenuicon{
		display:none;
	}
	#footer-img {
	float: left;
	margin-left: 10vw;
	padding-top: 14vh;
}
.footer-links {
float: left;	
font-size: 15px !important;
}
	
}

@media only screen and (max-width: 700px) {
	.menu{
		display: none;
	}
	.mainmenuicon{
		display:block;
		float: left;
		padding-right: 10%;
	}
	
	#navbar img {
		float: right;
		
	}
	
	#navbar p {
		float: right;
		line-height: 30px;
	}
	
	#footer-copyright {
	padding-top: 10% !important;
	}
	#social-icons {
		float: none;
	margin-left: auto;
margin-right: auto;	
	}
	
	#themes {	
	width: 100%;
	margin-top: 20px;	
	}
		.switch {
		width: 30px;
		height: 18px;	
		}
		
		.slider::before {
   
    height: 13px;
    width: 13px;
}
	

}



			/*FOTTER */
#footerinner {
	margin-left: 9vw;
	width: 80%;
	margin-left: auto;
margin-right: auto;

	
}
.page-footer {
  background-color: black;
  float: right;
width: 100%;
}
.footer-links {
	height: auto;
	width: 20vw;
	padding-top: 5vh;
	display: inline-block;
	font-size: 9px;
	padding-bottom: 5vh;
}

.footer-links li {
	display: vertical-align;	
	list-style-type: none;
	
}
.footer-links li a {
	text-decoration: none;
	color: dimgrey;	
	font-family: Tahoma, Geneva, sans-serif;
	margin-top: 10vh;
}


#footer-copyright {
	color: dimgrey;
	text-align: center;
	padding-bottom: 2vh;
	font-size: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";

}

.headingnone {
display: none;	
}



